spring: #띄어쓰기 없음
  datasource: #띄어쓰기 2칸
    url: jdbc:h2:tcp://localhost/~/jpashop #4칸
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        default_batch_fetch_size: 1000
        show_sql: false   #띄어쓰기 8칸
        format_sql: true

logging.level:
  org.hibernate.SQL: debug
#  org.hibernate.type: trace #띄어쓰기 2칸